<% if @poll.start_at > DateTime.now %>
  <div class="ui three column grid">
    <div class="three wide column ">
    </div>
    <div class="ten wide column">
      <div class="ui huge header">
        <%= @poll.title %>
      </div>
      <p style="font-size:large; padding-left:10px;"><%= @poll.description %></p>
    </div>
    <div class="three wide column "></div>
  </div>

  

  <div class="ui divider"></div>
  <div style="margin-top:100px">
  <%= render "time_left_start", poll: @poll%>
  </div>
  

<% else %>



    <div class="ui container">
        <div class="ui huge header">
        <%= @poll.title %>
        </div>
        <p style="font-size:large; padding-left:10px;"><%= @poll.description %></p>
        
    </div>

    <div class="ui divider"></div>
    <div class="ui stackable three column grid">
        <div class="three wide column"></div>

        <div class="ten wide column">
        <% @results[:section].each_with_index do |section, i| %>
            <div class="ui huge header section" style="margin-top:20px;padding-left:20px;">
            <h2><%= "#{section.first}" %></h2>
            </div>
        <% section.second[:options].each do |option|%>
            <% percentage = (option.second / section.second[:total_section_votes]) * 100  %>
            <% colours = ["teal","red","orange","yellow","olive","blue","violet","purple","pink","brown"]%>
            <% if section.second[:max_vote] == option.second %>
                <%colour = "green"%>
                <%seg = "green"%>
            <% else %>
                <%colour = colours[rand(9)] %>
            <% end %>

            <div class="ui fluid link card">
                
                <div class="ui <%= seg %> segment">
                <div class="ui grid" style="padding-bottom:20px;">
                    <div class="left floated left aligned eight wide column">
                    <p style="font-size:large;"><%= option.first %></p>
                    
                    </div>
                    <div class="right floated right aligned eight wide column">
                        <div class="label" style="font-size:large;">
                        <%= percentage.round(2) %>%
                        </div>
                    </div>
                </div>
                
                
                <div class="ui tiny progress <%= colour %>" data-percent="<%= percentage.round(2) %>" id="progress">
                <div class="bar" style="min-width: 0">
            
                </div>
                <div class="label" style="font-size:small;text-align:left;padding: 5px;padding-bottom: 10px">
                    <%="#{option.second.to_i} votes"%>
                </div>
                
                </div>
                </div>
            </div>
            <% end %>
        <% end %>

        <div class="ui divider"></div>
        <%= render "time_left_end", poll: @poll%>

        </div>
        


        <div class="three wide column"></div>       
    </div>

    <div class="ui divider"></div>
<% end %>

<script>
$('.ui #progress').progress();





</script>
